@import url(https://fonts.googleapis.com/css?family=Arvo:700,700italic);

#demoWrapper {
    margin: auto;
    margin-top: 5%;
    padding: 55px 55px;
    height: 85%;
    width: 90%;
    border: black solid;
    text-align: center;
}

/* Vertical alignment magic
*  http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
*/
.vertalign-parent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.vertandcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*The main container*/
#container {
    height: 860px; 
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.fatText {
    font-family: 'Arvo', serif;
    font-size: 100;
    font-weight: 700;
    text-align: center; 
    padding-top: 0px;
    position: relative;
}

/*index.jsp*/
#login {   
    height: 500px; 
    text-align: center;
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#register {   
    height: 500px; 
    text-align: center;
	position: relative;
	top: 35%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
    display: none; /*Hidden on load. Displayed with jquery on click event*/
}    
/*Matching.jsp*/
#matching {
    text-align: center;
    position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.imagecontainer {
    margin: auto;
    width: 650px;
    height: 350px;
    border: black solid thin;
}

.image {
    display: inline-block;
    width: 65%;
    height: inherit; 
    overflow: hidden; 
    /*border: black solid thin;*/ 
}

.description {
    border-left: black solid thin; 
    display: inline-block;
    width: 30%; 
    height: inherit;
    overflow: hidden; 
    /*border: black solid thin; */
}

/*Dropdown menu position*/
.menucontainer {
    padding-top: 25px;
    margin-left: 70%;
    /*border: black solid thin;*/
}

/*Settings.jsp*/
#settings {   
    height: 500px; 
    text-align: center;
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

}   